body{
    background-image: url(./images/plumbing3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(36,41,47,0.9);
    margin: -8px -8px 0px -8px;
    text-align: right;
    padding: 10px;
}
ul li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}
ul li a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
}
 .form{
    background-color: inherit;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    border: 5px solid black;
    border-radius: 30px;
    color:black;
}
.align{
    margin-top: 10px;
    margin-left: 80px;
    /* background: inherit; */
    border: 2px solid white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color:black;
    
}
::placeholder{
    color: black;
} 
#form-header{
    text-align: center;
    margin-top: 40px;
    color: white;
}
#display{
    border: 5px solid black;
    margin-top: 20px;
    width: 500px;
    margin-left: 40px;
    background-color: gray;
}
#display>th,td{
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
    color: white;
}
#theader{
    margin-top: 100px;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #24292F;
    color: #FFFFFF;
     margin-top: 150px;
   /* margin: 50px -8px -8px -8px;
    padding: 10px 50px 10px 50px;
} */
.contact p{
    font-size: 15px;
}
}
footer p, a{
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}