body {
    
    background-attachment: fixed;
    box-sizing:border-box;

}
.header {
    background-color: grey;
    margin: 1px;
    padding:10px;
    text-align: center;
    color:whitesmoke;
}

.Nav {
     overflow: hidden;
     background-color:grey;
}
.Nav a {
    background-color: grey;
    text-align: center;
    display: inline-block;
    padding:10px;
    
    text-decoration: none;
    color:whitesmoke;
}
.Nav a:hover {
     color: red;
}
.row:after {
    content: "";
    display:table;
    clear:both;
}
.contact {
    background-image:url('../images/plumbing.jpg');
    background-size: cover;
    width: 100%;
    height:100vh;
    color:white;
    margin:2px;
}
   .footer {
    background-color:grey;
    width:100%;
    padding:2px;
    text-align: left;
    color:white;
    margin-top:5px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    line-height:3px;
    
  }
  
 