body {
    
    background-attachment: fixed;
    box-sizing:border-box;

}
.header {
    background-color: grey;
    margin: 1px;
    padding:10px;
    text-align: center;
    color:whitesmoke;
}

.Nav {
     overflow: hidden;
     background-color:grey;
}
.Nav a {
    background-color: grey;
    text-align: center;
    display: inline-block;
    padding:10px;
    text-decoration: none;
    color:whitesmoke;
}
.Nav a:hover {
     color: red;
}
.row:after {
    content: "";
    display:table;
    clear:both;
}
.contacts {
    background-image:url('../images/plumbing.jpg');
    background-size: cover;
    width: 100%;
    height:100vh;
    color:white;
    margin:2px;
}
   .footer {
    background-color:grey;
    width:100%;
    padding:2px;
    color:white;
    margin-bottom:0px;
    height:7.8rem;
    margin-top:15px;
    
} 
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    line-height:3px;
    
  }
  
  .text{
    display: none;
    color: white;
    position:absolute;
    bottom: 120px;
    left: 70px;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    } 
 .contact{
    background-color:transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
     } 
 .contact>h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 25px;
    color: white;
         } 
 #EMAIL,#NAME,#MESSAGE,#subscribe{
    background-color:transparent;
    color: white;
    border: 1px solid white;
    } 
 ::placeholder {
    color:white;
    } 
 #NAME{
    width: 18%;
    margin-left: 28%;
    }
#EMAIL{
    width: 18%;
    margin-left: 130px;
    }
#MESSAGE{
    margin-left: 30%;
    width: 40%;
    margin-top: 15px;
    height: 250px;
    overflow: none;
    } 
 #subscribe{
    margin-left: 45%;
    width: 200px;
    }    
  
  